.layout {
    // width: calc(100% - 40px);
    width:100%;
    height: 100vh;
    background-image: url('./assets/background.jpg');
    color: $color-text-light;
    background-position: 50%;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // transition: 2s;
    // padding: 20px;
    // @include media-tablet-max {
    //     width: 100%;
    //     padding: 0;
    // }
    // &__blackout {
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     opacity: 0.25;
    //     background-color: $color-text-dark;
    // }
}