$color-text-light: #ffffff;
$color-text-dark: black;
$color-light-grey: #b8b8b8;
$color-grey: #999999;
$color-light: #ffffff;
$color-hover: #55aa55;
$color-active: #00ff00;
$color-error: #ff0000;

$desktop-width-medium: 1250px;
$desktop-width-small: 900px;
$tablet-width-max: 730px;
$tablet-width-medium: 650px;
$tablet-width-small: 590px;
$mobile-width-max: 500px;
$mobile-width-medium: 400px;

$font: 'Open Sans', Verdana, Arial, sans-serif;