.game__result-translate {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}


.game-layout {
  width: 100%;
  max-width: 1030px;
  &_hide {
    display: none;
  }
}

.game__result-panel {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 7px 6px 13px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__panel {
  display: flex;
  height: 50px;
  margin-top: 25px;
  &-row {
    margin-top: 0;
    width: 100%;
  }
}
.game__row {
  height: 100%;
  width: 20px;
  background-color: #6466f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__result-layuot {
  height: 100%;
  width: calc(100% - 20px);
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.game__resourse-layuot {
  height: 50px;
  width: calc(100% - 20px);
  background-color: #ffffff;
  box-shadow: 7px 6px 13px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
}

span.game__word {
  color: #000000;
  outline: 5px solid #6466f0;
  height: calc(100% - 5px);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  &_true {
    background-color: #74f064;
  }
  &_false {
    background-color: #f06c64;
  }
  &_color-reverse {
    color: #ffffff;
  }
  &_hide {
    height: 100%;
    color: rgba(0, 0, 0, 0);
    outline: none;
  }
}

.puzzle {
  background-image: url(assets/paintings/NinthWave.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 100%;
  // background-size: 100% auto;
  background-size: 1030px auto;
}