.loading {
    background-image: url(/assets/loading.svg);
    background-size: cover;
    width: 300px;
    height: 300px;
    position: fixed;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    transition: opacity 0.5s;
    z-index: 2;
    &_hide {
        display: none;
    }
}

.loading_hide {
    opacity: 0;
}