.logger-panel {
    position: fixed;
    text-align: center;
    width: 100%;
    display: inline-block;
    top: 80px;
    transition: opacity 3s, color 4s;
    @include media-tablet-small {
        top: 112px;
    }
}

.logger-panel_hide {
    opacity: 0;
}

.logger-panel_success {
    color: $color-active;
}

.logger-panel_error {
    color: $color-error;
}