.start-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .header {
        margin-bottom: 50px;
    }
    &__description {}
    &__button {
        width: 240px;
        height: 70px;
        font-size: 5rem;
        margin-top: 50px;
    }
    &_hide {
        width: 0;
        opacity: 0;
    }
}

.registration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    &__header {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    &-email__description {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &-password__description {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__error {
        color: $color-error;
        font-weight: bold;
        display: none;
        &_show {
            display: inline;
        }
    }
    &__button {
        width: 240px;
        height: 70px;
        font-size: 5rem;
        margin-top: 50px;
    }
    &__log-in-button {
        font-size: 3.5rem;
    }
    &_hide {
        display: none;
    }
}

.log-in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    &__header {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    &-email__description {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &-password__description {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__error {
        color: $color-error;
        font-weight: bold;
        display: none;
        &_show {
            display: inline;
        }
    }
    &__button {
        width: 240px;
        height: 70px;
        font-size: 5rem;
        margin-top: 50px;
    }
    &__registration-button {
        font-size: 3.5rem;
    }
    &_hide {
        display: none;
    }
}